/* Reset */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove underline */
}

/* Remove visited link styling */
a:visited {
  color: inherit; /* Ensure visited links inherit the same color */
  text-decoration: none; /* Remove underline for visited links */
}

li {
  list-style-type: none;
}

/* Fonts */
@font-face {
  font-family: 'norsebold';
  src: url('norse-bold_3-webfont.woff2') format('woff2'),
       url('norse-bold_3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'norse-webfont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'norsebold-webfont', Arial, Helvetica, sans-serifsans-serif;
}

/* Color Variables */
:root {
  --background-primary: rgb(255, 255, 255);
  --background-secondary: rgb(244, 241, 234);
  --background-tertiary: rgb(115, 33, 80);
  --text-on-primary: rgb(0, 99, 93);
  --header-on-primary: rgb(24, 24, 24);
  --text-on-secondary: rgb(51, 51, 51);
  --border-on-secondary: rgb(214, 208, 196);
}

.secondary{
  background-color: var(--background-secondary);
  color: var(--text-on-secondary);
}

.tertiary {
  background-color: var(--background-tertiary);
  color: var(--background-secondary);
}

.hidden {
    display: none;
}

/* Styles */
body {
  font-size: 14px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr; /* Header takes auto height, rest fills */
  min-height: 100vh;
}

.header {
    grid-column: span 2;
}

.header__accent-bar {
    height: 1.5rem;
}

.nav {
    display: flex;
    min-height: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav__btn {
  background-color: transparent;
  border: none;
}

.nav__btn--sidebar {
  display: none;
}

.nav__search-wrapper {
  display: flex;
  flex-grow: 1;
  min-width: 70vw;
}

.nav__search-bar {
  flex-grow: 1;
  padding: 0.2rem
}

.nav__btn--search {
  display: none;
}


.sidebar {
    display: grid;
    grid-template-columns: 1fr 10%;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

}

.sidebar-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2rem;
  gap: 1rem;
  text-align: center;
}

.sidebar-left__header {
  font-weight: bold;
}

.shelf-item {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  padding: 0.4rem;
  border-radius: 5px;
}

.sidebar-right__close-btn {
  padding: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
}

.main__card-list {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.card {
  background-color: rgb(245, 245, 247);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.card__header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 10%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgrey;
}

.card__close-btn {
  background-color: transparent;
  border: none;
}

.card__author-info-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.card__rating {
  justify-self: center;
}

.card__review-btn {
  grid-column: span 2;
}

/* Add in media query for mobile view */
@media (max-width: 768px) {

  body {
    grid-template-columns: 1fr;
  }

  .nav__btn--sidebar {
    display: block;
  }

  .nav__logo {
    flex-grow: 1;
  }

  .nav__search-wrapper {
    display: none;
  }

  .nav__btn--search {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .main__card-list {
    grid-template-columns: 1fr;
  }

}












